<!DOCTYPE html>
<html>
  <head>
    <title>Solution</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      table{
        border-spacing: 0;
        margin-bottom: 40px;
      }
      th, tr, td{
        border: 1px solid black;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
