<h1>Solution#input</h1>
<% flash.each do |type, msg| %>
  <div id="error">
    <%= msg %>
  </div>
<% end %>
<%= form_with url: "solution/show", method: :post do |form| %>
  <%= form.label :query, "Find all happy elements. Input 0 <= n <= 999_999:" %>
  <%= form.text_field :input_number, placeholder: 'Input n', id: 'input_number', value: 2000 %>
  <%= form.submit "Find", id: 'find'%>
<% end %>
<h3>Show all users</h3>
<%= link_to 'List of users', 'solution/list' %>
<h3>Result</h3>
<div id="result"></div>

