<% flash.each do |type, msg| %>
  <div id="error">
    <%= msg %>
  </div>
<% end %>
<%=form_with url: sessions_url do |f|%>
	<table id='login'>
		<tr>
			<td><label>Email</label></td>
			<td><%=f.text_field :email, require: true %><br/></td>
		</tr>
		<tr>
			<td><label>Password</label></td>
			<td><%=f.password_field :password, require: true%><br/></td>
		</tr>
		<tr>
			<td><%=f.submit id: 'submit-btn', value: 'Вход',require: true%></td>
		</tr>
	</table>
<%end%>
<%=link_to 'Registration', new_user_path%>