<h1>Example#input</h1>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<%= form_with url: "convert/show", method: :get do |form| %>
  <%= form.label :query, "Find all happy elements. Input 0 <= n <= 999_999:" %>
  <%= form.text_field :input_number, placeholder: 'Input n'%>

  <fieldset>

      <legend>Выбор стороны рендеринга</legend>

      <div>

        <label>

          <input type="radio" name="side" value="server" id="server-side" checked>
          Рендеринг на стороне сервера

        </label>

      </div>

      <div>

        <label>

          <input type="radio" name="side" value="client" id="client-side">
          Отображение чистого XML

        </label>

      </div>

      <div>

        <label>

          <input type="radio" name="side" value="client-with-xslt" id="client-side-xslt">
          Рендеринг на стороне браузера

        </label>

      </div>

    </fieldset>


  <%= form.submit "Find" %>
<% end %>